.bg1
{
    background-image: url("https://wallpapertag.com/wallpaper/full/5/0/9/350850-website-background-1920x1234-for-android-50.jpg");
    background-size: cover;
    height: auto;
}
body{
    font-family: Changa;
}